<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="../../static/css/Signin.css" th:href="@{/css/Signin.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header>
    <th:block th:insert="~{/header_on}" th:if="${user.username}"></th:block>
    <th:block th:insert="~{/header_off}" th:unless="${user.username}"></th:block>
</header>
<div class="signin">
    <div class="main-container">
        <div class="wrapper">
            <div th:if="${param.success}">
                <script>
                    window.location.href = '/home';
                    const param = new URLSearchParams(window.location.search);
                    localStorage.setItem("userId", JSON.stringify(param.get('success')));
                </script>
                <div class="alert alert-success col-xs-offset-1 col-xs-10">You are login</div>

            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-success col-xs-offset-1 col-xs-10"> You have been logged out.</div>
            </div>
            <form action="#" th:action="@{/signin}" method="post" th:object="${user}">
                <h1>Sign In</h1>
                <div class="inputbox">
                    <input type="text" name="username" placeholder="Username" th:field="*{username}" required>
                    <i class="fas fa-user icon"></i>
                </div>
                <div th:if="${param.usernamewrong}">
                    <div class="alert alert-info"> Your username is not exist</div>
                </div>
                <div class="inputbox">
                    <input type="password" name="password" placeholder="Password" th:field="*{password}" required>
                    <i class="fas fa-lock icon"></i>
                </div>
                <div th:if="${param.passwordwrong}">
                    <div class="alert alert-info"> Your password is not correct</div>
                </div>
                <button type="submit">Sign In</button>
                <div class="register">
                    <p>Don't have an account? <a th:href="@{/signup}">Sign Up</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
