<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/Signup.css}" />
    <link rel="stylesheet" href="../../static/css/Signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
<div class="signup">
    <div class="wrapper">
        <form id="signupForm" onsubmit="showPopup(event)">
            <h1>Sign up</h1>
            <div class="inputbox">
                <input type="text" name="signUpUserName" placeholder="Username" required>
                <i class="fas fa-user icon"></i>
            </div>
            <div class="inputbox">
                <input type="password" name="signUppassWord" placeholder="Password" required>
                <i class="fas fa-lock icon"></i>
            </div>
            <div class="inputbox">
                <input type="text" name="email" placeholder="Email" required>
                <i class="fa-solid fa-envelope icon"></i>
            </div>
            <div class="inputbox">
                <input type="text" name="name" placeholder="Full name" required>
                <i class="fa-solid fa-address-card icon"></i>
            </div>
            <div class="inputbox">
                <input type="text" name="phoneNumber" placeholder="Phone Number" required>
                <i class="fa-solid fa-phone icon"></i>
            </div>
            <button type="submit">Sign Up</button>
            <div class="register">
                <p>Have an account? <a href="../Signin/Signin.html" th:href="@{/signin}">Sign In</a></p>
            </div>
        </form>
    </div>
</div>
<div id="popup" class="popup">Sign Up Successful! Redirecting to sign in page...</div>

<script>
    function showPopup(event) {
        event.preventDefault();
        document.getElementById('popup').style.display = 'block';
        setTimeout(function() {
            window.location.href = '/signin';
        }, 3000);
    }
</script>
</body>
</html>