<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/list-movies.css" th:href="@{/css/movie-form.css}">
    <title>Save Movie</title>
</head>

<body>
<div class="container">
    <h3>Movie Directory</h3>
    <hr>

    <p class="h4 mb-4">Save Movie</p>

    <form action="#" th:action="@{/movies/save}"
          th:object="${movie}" method="POST">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{name}"
               class="form-control mb-4 w-25" placeholder="Movie name" required>

        <textarea maxlength="65635" th:field="*{description}"
                  class="form-control mb-4 w-25" placeholder="Description" required>
            </textarea>

        <input type="text" th:field="*{director}"
               class="form-control mb-4 w-25" placeholder="Director">

        <input type="text" th:field="*{actors}"
               class="form-control mb-4 w-25" placeholder="Actors">

        <input type="text" th:field="*{movieCategory}"
               class="form-control mb-4 w-25" placeholder="Category">

        <input type="date" th:field="*{releaseDate}"
               class="form-control mb-4 w-25" placeholder="Release Date">

        <input type="text" th:field="*{duration}"
               class="form-control mb-4 w-25" placeholder="Duration" required>

        <input type="url" th:field="*{trailerUrl}"
               class="form-control mb-4 w-25" placeholder="Trailer URL" required>

        <!-- isShowing dang loi -->
        <input type="text" th:field="*{isShowing}"
               class="form-control mb-4 w-25"
               placeholder="IS SHOWING?"
               pattern="[01]"
               title="Please enter 0 or 1"
               required>

        <input type="url" th:field="*{posterUrl}"
               class="form-control mb-4 w-25" placeholder="Poster URL" required>
        <button type="submit" class="btn btn-dark col-1">SAVE</button>
    </form>

    <hr>
    <a th:href="@{/movies/list}">Back to Movie List</a>
</div>

</body>

</html>
